
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * @baseFontSize);
  font-size: @pxValue;
  font-size: ~"@{remValue}rem";
}

// ---------------------------------------------

h1{
	.font-size(2.2);
}
h2{
	.font-size(1.9);
}
h3{
	.font-size(1.7);
}
h4{
	.font-size(1.5);
}
h5{
	.font-size(1.3);
}
h6{
	.font-size(1.1);
}

blockquote{
	background-repeat: no-repeat;
	border-left: 0;
	padding-left: 35px;

	&.pull-right{
		border-right: 0;
	}

	p{
		.font-size(1.6);
		background-repeat: no-repeat;
		background-position: right bottom;
		color: @color_three;
		padding-right: 35px;
	}
}

// Docs
// ---------------------------------------------

div{
	.bs-docs-example{
		.border-radius(0);
		border: 0;
		border-top: 1px solid @textColor;
		margin-top: 35px;
		overflow: visible;
		padding: 15px 25px;

		&:after{
			.border-radius(0);
			background-color: @textColor;
			border: 0;
			bottom: 100%;
			color: @bodyBackground;
			font-size: @baseFontSize;
			font-weight: 400;
			padding: 2px 30px;
			top: auto;
		}
	}

	.prettyprint{
		.border-radius(0);
		border-bottom-color: @textColor;
		border-left: 0;
		border-right: 0;
	}
}

code{
	background-color: transparent;
	border: 0;
	color: @textColor;
	font-size: @baseFontSize;
	font-weight: 700;
}

// ---------------------------------------------

#bottom-menu .nav,
.nav.nav-tabs{
	border-bottom: 1px solid @textColor;
	border-top: 1px solid @textColor;

	dt{
		span{
			display: block;
		}
		h3{
			margin-top: 0;
		}
	}
	li{
		> a{
			&.item-desc{
				margin-bottom: 11px;
				margin-top: 11px;
				&:hover,
				&:focus{
					text-decoration: none;
				}
			}
		}
	}
	> li , h3 , p{
		> a{
			border: 0;
			color: @textColor;
			display: block;
			font-size: @baseFontSize;
			font-weight: 400;
			padding: 1em 1.5em;
			padding: 1rem 1.5rem;

			[class^="icon-"],[class*=" icon-"]{
				color: @textColor;
			}

			&:hover,
			&:focus{
				background-color: transparent;
				text-decoration: underline;
				[class^="icon-"],[class*=" icon-"]{
					text-decoration: underline;
				}
			}
		}
		&.dropdown{

			a{
				.caret{
					border-top-color: @textColor;
				}
				&:hover,
				&:focus{
					.caret{
						border-top-color: @textColor;
					}
				}
			}

		}
	}

	.open{
		h3, p {
			a{
				color: @textColor !important;
				position: relative;

				&:after{
					border-bottom: 2px solid @color_one;
					bottom: 0;
					content: '';
					left: 0;
					position: absolute;
					width: 100%;
				}

				&:hover,
				&:focus{
					text-decoration: none;
				}
			}
		}
	}
	> li.active{
		> a{
			border: 0;
			color: @textColor;
			position: relative;

			&:after{
				border-bottom: 2px solid @color_one;
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:hover,
			&:focus{
				background-color: transparent;
				border: 0;
				text-decoration: none;
			}
		}
	}

}

.tabs-below{
	>.nav-tabs{
		>li{
			margin-top: 0;
		}
	}
}

.tabbable {
	&.tabs-left,
	&.tabs-right{
		.nav-tabs{
			border: 0;
			border-left: 1px solid @textColor;
			border-right: 1px solid @textColor;
			>li{
				a.item-desc{
					margin-left: 20px;
					margin-right: 20px;
				}
				&.dropdown {
					a{
						.caret {
							margin-top: 19px;
							margin-right: 15px;
						}
					}
					.dropdown-menu{
						margin: 0 auto;
						width: 80%;
					}
				}
			}
		}
	}
	&.tabs-left{
		.nav-tabs{
			> li.active{
				> a{
					&:after{
						border-right: 2px solid @color_one;
						bottom: 0;
						height: 100%;
						left: auto;
						right: 0;
						width: auto;
					}

					&:hover,
					&:focus{
						background-color: transparent;
						border: 0;
						text-decoration: none;
					}
				}
			}
		}
	}
	&.tabs-right{
		.nav-tabs{
			> li.active{
				> a{
					&:after{
						border-left: 2px solid @color_one;
						bottom: 0;
						height: 100%;
						width: auto;
					}

					&:hover,
					&:focus{
						background-color: transparent;
						border: 0;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.nav.nav-list {
	li.active{
		>a{
			&:hover,
			&:focus{
				color: @white;
			}
		}
	}
}

// ---------------------------------------------

#breadcrumbs{
	margin-bottom: 0;
	+ .container-flexbox > .row, 
	+ .container-flexbox > .row-fluid{
		border-top: 0;
	}
}

.breadcrumb{
	.border-radius(0);
	background-color: transparent;
	border-bottom: 1px solid @color_three;
	border-top: 1px solid @color_three;
	margin-bottom: 0;
	padding: 0 20px;

	li{
		a, span{
			color: @color_four;
			display: inline-block;
			font-size: 12px;
			vertical-align: middle;
		}

		span{
			font-weight: 700;
			&.divider:not(.hasTip){
				background-image: url(../images/breadcrumb-divider.png);
				height: 31px;
				margin-right: 5px;
				padding: 0;
				text-indent: -999px;
				width: 10px;

				.icon-caret-right{
					display: none;
				}
			}
		}
	}
}

.item-page{
	> .page-header{
		border: 0;
		margin: 0;
		padding: 0;
		h2{
			font-size: 24px;
			a{
				color: @color_four;
			}
		}
	}
}
.pager{
	li {
		>a,>span{
			.border-radius(5px);
			border-color: @color_one;
			font-size: 1em;
			font-size: 1rem;
			padding: 4px 40px;
		}
	}
}
.label, .badge{
	font-size: 12px;
	font-weight: 400;
	text-shadow: none;
}
// ---------------------------------------------

.btn{
	.box-shadow(none);
	background-color: transparent;
	background-image: none;
	border-color: @color_four;
	color: @color_four;
	filter: none;
	text-shadow: none;

	&.dropdown-toggle{
		.caret{
			border-top-color: @color_four ;
		}
		&:hover,
		&:focus{
			.caret{
				border-top-color: @white;
			}
		}
	}

	&:hover,
	&:focus{
		background-color: @color_one;
		border-color: @color_one;
		color: @white;
		filter: none;
	}

	&.btn-primary{
		&:hover,
		&:focus{
			background-color: @color_one;
			border-color: @color_one;
		}
	}

	&.btn-danger{
		&:hover,
		&:focus{
			background-color: @btnDangerBackground;
			border-color: @btnDangerBackground;
		}
	}
	&.btn-info{
		&:hover,
		&:focus{
			background-color: @btnInfoBackground;
			border-color: @btnInfoBackground;
		}
	}
	&.btn-success{
		&:hover,
		&:focus{
			background-color: @btnSuccessBackground;
			border-color: @btnSuccessBackground;
		}
	}
	&.btn-warning{
		&:hover,
		&:focus{
			background-color: @btnWarningBackground;
			border-color: @btnWarningBackground;
		}
	}
	&.btn-inverse{
		&:hover,
		&:focus{
			background-color: @btnInverseBackground;
			border-color: @btnInverseBackground;
		}
	}
	&.btn-link{
		border: 0;
		&:hover,
		&:focus{
			background-color: transparent;
			border: 0;
			color: @color_four;
		}
	}
	&[disabled],
	&.disabled{
		&:hover,
		&:focus{
			background-color: @color_four;
			border-color: @color_four;
			color: @grayDark;
		}

		&.btn-primary{
			&:hover,
			&:focus{
				color: @white
			}
		}

		&.btn-danger{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-info{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-success{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-warning{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-inverse{
			&:hover,
			&:focus{
				color: @white;
			}
		}
	}
}

.dropup{
	.btn.dropdown-toggle{
		.caret{
			border-bottom-color: @color_four;
		}
		&:hover,
		&:focus{
			.caret{
				border-bottom-color: @white;
			}
		}
	}
}

.btn-group.open .dropdown-toggle{
	.box-shadow(none);
}
.btn-group.open {
	.btn.dropdown-toggle,
	.btn-primary.dropdown-toggle{
		background-color: @color_one;
	}
	.btn-primary.dropdown-toggle{
		background-color: @color_one;
	}
	.btn-danger.dropdown-toggle{
		background-color: @btnDangerBackground;
		border-color: @btnDangerBackground;
	}
	.btn-info.dropdown-toggle{
		background-color: @btnInfoBackground;
		border-color: @btnInfoBackground;
	}
	.btn-success.dropdown-toggle{
		background-color: @btnSuccessBackground;
		border-color: @btnSuccessBackground;
	}
	.btn-warning.dropdown-toggle{
		background-color: @btnWarningBackground;
		border-color: @btnWarningBackground;
	}
	.btn-inverse.dropdown-toggle{
		background-color: @btnInverseBackground;
		border-color: @btnInverseBackground;
	}
}

// ---------------------------------------------

.table{
	th, td{
		padding: @baseFontSize 8px;
		text-align: center;
	}
	th{
		color: @color_four;
		a{
			color: @color_four;
		}
	}
	&.table-condensed{
		th, td{
			padding: 4px 5px;
		}
	}
}

.table-striped{
	tbody>tr:nth-child(odd){
		> td, > th{
			color: @color_one;
		}
	}
}

.table-hover {
	tbody tr:hover{
		>td, >th{
			color: @color_one;
		}
	}
}

.table-bordered{
	.border-radius(0);
}
.table-bordered caption+thead tr:first-child th:first-child, .table-bordered caption+tbody tr:first-child td:first-child, .table-bordered colgroup+thead tr:first-child th:first-child, .table-bordered colgroup+tbody tr:first-child td:first-child{
	.border-radius(0);
}
.table-bordered caption+thead tr:first-child th:last-child, .table-bordered caption+tbody tr:first-child td:last-child, .table-bordered colgroup+thead tr:first-child th:last-child, .table-bordered colgroup+tbody tr:first-child td:last-child{
	.border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child{
	.border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child{
	.border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child{
	.border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child{
	.border-radius(0);
}

// ---------------------------------------------

.input-prepend,
.input-append{
	.add-on,
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
		border-color: @color_four;
	}
}

// ---------------------------------------------

.unlimited-grid{
	> .row , > .row-fluid{
		> .span12 {
		    width: 100%;
		}
		> .span11 {
		    width: 91.6667%;
		}
		> .span10 {
		    width: 83.3333%;
		}
		> .span9 {
		    width: 75%;
		}
		> .span8 {
		    width: 66.6667%;
		}
		> .span7 {
		    width: 58.3333%;
		}
		> .span6 {
		    width: 50%;
		}
		> .span5 {
		    width: 41.6667%;
		}
		> .span4 {
		    width: 33.3333%;
		}
		> .span3 {
		    width: 25%;
		}
		> .span2 {
		    width: 16.6667%;
		}
		> .span1 {
		    width: 8.33333%;
		}
		> [class*="span"]{
			margin: 0;
		}
	}
	&.container-fluid{
		margin-left: 20px;
		margin-right: 20px;
	}
}

.container-padding{
	.box-sizing(border-box);
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid @color_three;
	border-top: 1px solid @color_three;

	+ .container-flexbox > .row,
	+ .container-flexbox > .row-fluid,
	+ .container-padding,
	+ .wrapper-footer #bottom-menu .navbar-inner,
	+ #breadcrumbs .breadcrumb{
		border-top: 0;
	}

	> div {
		margin-left: 0;
		> [class*="span"]{
			padding-bottom: 10px;
			padding-top: 10px;
			> h3{
				margin-top: 0;
			}
			> *:last-child{
				margin-bottom: 0;
				> *:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.container-full{
	border-bottom: 1px solid @color_three;

	+ .wrapper-footer #bottom-menu .navbar-inner,
	+ .container-flexbox >.row,
	+ .container-flexbox > .row-fluid{
		border-top: 0;
	}
	&.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}

	> div {
		margin-left: 0;
		> [class*="span"]{
			.box-sizing(border-box);
			padding: 10px;

			&.first{
				padding-left: 20px;
			}
			&.last{
				padding-right: 20px;
			}

			> h3{
				margin-top: 0;
			}
			> *:last-child{
				margin-bottom: 0;
				> *:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.flexbox-content(){
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   
}

.container-flexbox{

	+ .container-padding,
	+ .container-full,
	+ .container-flexbox > .row,
	+ .container-flexbox > .row-fluid,
	+ .wrapper-footer #bottom-menu .navbar-inner,
	+ #breadcrumbs .breadcrumb{
		border-top: 0;
	}

	> .row , > .row-fluid{
		.box-sizing(border-box);
		.flexbox-content();
		border-bottom: 1px solid @color_three;
		border-top: 1px solid @color_three;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 0;

		> [class*="span"]{
			.box-sizing(border-box);
			border-left: 1px solid @color_three;
			float: none;
			padding: 10px;

			&:first-child{
				border-left: 0;
			}
		}

		[class*="module"]{
			> h3{
				margin-top: 0;
			}
		}
	}
}

// ---------------------------------------------

#grid-top,
#grid-bottom,
#grid-bottom2{
	margin-bottom: 0;
}

#footer{
	background-image: none;
	background-color: transparent;
	color: @textColor;
	filter:none;
	font-size: @baseFontSize - 1;

	.container,
	.container-fluid{
		.box-sizing(border-box);

		.row,
		.row-fluid{
			margin-left: auto;
			margin-right: auto;
			width: 75%;

			> [class*="span"]{
				margin-left: 0;
			}

			> .span12 {
			    width: 100%;
			}
			> .span11 {
			    width: 91.6667%;
			}
			> .span10 {
			    width: 83.3333%;
			}
			> .span9 {
			    width: 75%;
			}
			> .span8 {
			    width: 66.6667%;
			}
			> .span7 {
			    width: 58.3333%;
			}
			> .span6 {
			    width: 50%;
			}
			> .span5 {
			    width: 41.6667%;
			}
			> .span4 {
			    width: 33.3333%;
			}
			> .span3 {
			    width: 25%;
			}
			> .span2 {
			    width: 16.6667%;
			}
			> .span1 {
			    width: 8.33333%;
			}
		}
	}
	#bottom-menu{
		.navbar{
			margin-bottom: 10px;
		}
		.navbar-inner{
			padding: 0;
		}
	}
	.footer-content{
		margin-top: 10px;
		.nav{
			li{
				float: left;
				border-left: 1px solid @color_five;
				&:first-child{
					border-left: 0;
				}
				>a{
					padding-bottom: 0;
					padding-top: 0;
				}
			}
		}
	}
}

.footer1, .footer2{
	text-align: left;
}

// ---------------------------------------------

.module_ms1,
.moduletable_ms1,
.moduletext_ms1{
	background-color: @color_two;
	color: @color_one;
	padding: 10px;
	div.lifestream ul.stream{
		color: @color_one;
	}
}
#featured{
	margin-bottom: 0;
}

#header{
	border-bottom: 1px solid @color_three;
	margin-bottom: 0;
	position: relative;
	color: @color_four;
	margin-bottom: 0;
	
	&.headerBg{
		h1,h2,h3,h4,h5,h6{
			color: @white;
		}
		.navbar .nav{
			>li{
				>a{ 
					&:focus, &:hover{
						color: @white;

						[class^="icon-"],
						[class*=" icon-"]{
							color: @white;
						}
						.caret{
							border-top-color: @white;
						}
					}
				}

				&.active{
					> a{
						color: @white;

						[class^="icon-"],
						[class*=" icon-"]{
							color: @white;
						}
						.caret{
							border-top-color: @white;
						}
					}
				}

			}
		}
	}

	+ .container-flexbox > .row,
	+ .container-flexbox > .row-fluid,
	+ .container-padding,
	+ .container-full,
	+ #breadcrumbs .breadcrumb{
		border-top: 0;
	}

	.header-bg-content{
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: 1;
		.full-width{
			width: 100%;
		}
		.full-height{
			height: 100%;
		}

        .header-filter,
        .header-bg{
            position: absolute;
            top: 0;
        }
        .header-filter{
            z-index: 3;
        }
        .header-bg{
            .opacity(80);
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            z-index: 2;
        }

	}

	&.logo-menu-absolute{
		.logo-menu{
			.logo-menu-inner{
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 5;
			}
		}
	}

	.moduletable,
	.module{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.logo-menu{
	position: relative;
	z-index: 5;
	.logo-menu-inner{
		.box-sizing(border-box);
		border: 1px solid @navbarBorder;
		padding: 0 10px;
		margin-bottom: 20px;
		margin-left: 0 !important;
		margin-top: 20px;
		> [class*="span"]{
			.box-sizing(border-box);
			margin-left: 0;
		}
		> .span12 {
		    width: 100%;
		}
		> .span11 {
		    width: 91.6667%;
		}
		> .span10 {
		    width: 83.3333%;
		}
		> .span9 {
		    width: 75%;
		}
		> .span8 {
		    width: 66.6667%;
		}
		> .span7 {
		    width: 58.3333%;
		}
		> .span6 {
		    width: 50%;
		}
		> .span5 {
		    width: 41.6667%;
		}
		> .span4 {
		    width: 33.3333%;
		}
		> .span3 {
		    width: 25%;
		}
		> .span2 {
		    width: 16.6667%;
		}
		> .span1 {
		    width: 8.33333%;
		}
	}

	.navbar-inner{
		border: 0;
		min-height: 20px;
		padding: 0;
	}

	#logo{
		margin-bottom: 15px;
		margin-top: 15px;
	}

	#menu{
		margin-bottom: 0;
	}

	.navbar {
		margin: 0;
		.nav{
			float: right;
			left: auto;
			margin: 0;

			> li{
				> a{
					padding-bottom: 18px;
					padding-top: 18px;
					&.item-desc{
						margin-bottom: 15px;
						margin-top: 15px;
					}
				}
				&:last-child{
					> a{
						padding-right: 0;
					}
				}
			}
		}
	}
}

.header-content{
	position: relative;
	z-index: 4;
}

// ---------------------------------------------

.navbar-inner{
	.border-radius(0);
	.box-shadow(none);
}

.navbar-transparent .navbar-inner{
	.box-shadow(none);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	.box-shadow(none);
}

.container-fluid{
	.wrapp-logo-menu{
		#logo{
			margin-bottom: 13px;
			margin-top: 13px;
		}
	}
}

.navbar {
	.nav{
		>.active{
			>a{
				.box-shadow(none);
				&:hover,
				&:focus{
					.box-shadow(none);
				}
			}
		}
	}
}

#toolbar{
	.navbar {
		.nav{
			display: table;
			float: none;
			margin: 0 auto;
			>li{
				margin-left: 45px;
				margin-right: 45px;
				> a{
					text-transform: uppercase;
					padding-left: 0;
					padding-right: 0;
					&.item-desc{
						margin-bottom: 5px;
						margin-top: 5px;
					}
				}
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

.nav,
.navbar-inner,
.nav .navbar-inner,
.navbar .nav,
.navbar .nav .navbar-inner {
	li {
		> a{
			&.item-desc{
				.border-radius(5px);
				background-color: @color_one;
				color: @white !important;
				padding: 5px 20px !important;
				margin-bottom: 5px;
				margin-top: 5px;
				&:hover,
				&:focus{
					background-color: darken(@color_one, 10%) !important;
					color: @white !important;
					[class^="icon-"],[class*=" icon-"]{
						color: @white !important;
					}
				}
			}
		}
		&.dropdown {
			.dropdown-menu {
				border: 1px solid @color_four;

				&:before,
				&:after{
					display: none;
				}
				> li {
					a{
						&:hover,
						&:focus{
							background-image: none;
							background-color: transparent;
							filter: none;
						}
					}
					.sub-menu{
						&:before,
						&:after{
							display: none;
						}
					}
				}
			}
		}
	}
}

.navbar-inverse{
	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner {
		li {
			&.dropdown {
				.dropdown-menu {
					border: 1px solid @color_four;

					&:before,
					&:after{
						display: none;
					}
					> li {
						a{
							&:hover,
							&:focus{
								background-image: none;
								background-color: transparent;
								filter: none;
								.caret{
									border-bottom-color: transparent;
									border-top-color: transparent;
								}
							}
						}
						&.active{
							a{
								background-color: transparent;
							}
						}
						.sub-menu{
							&:before,
							&:after{
								display: none;
							}
						}
					}
				}
			}
		}
	}

}

.dropdown-menu {
	.box-shadow(none);
	.border-radius(0);
	border: 1px solid @color_four;

	&:before,
	&:after{
		display: none;
	}

	> li{
		a{
			border-top: 1px solid @color_four;
		}
		&:first-child{
			a{
				border-top: 0;
			}
		}
	}
}


.module{
	.nav{
		li{
			> a{
				&:hover,
				&:focus{
					color: @textColor;
					[class^="icon-"],[class*=" icon-"]{
						color: @textColor;
					}
					.caret{
						border-top-color: @textColor;
					}
				}
				&.item-desc{
					margin-bottom: 0;
					margin-top: 0;
				}
			}
			&.dropdown{
				.dropdown-menu{
					li{
						>a{
							&:hover,
							&:focus{
								color: @textColor;
								[class^="icon-"],[class*=" icon-"]{
									color: @textColor;
								}
								.caret{
									border-top-color: @textColor;
								}
							}
						}
					}
				}
			}
		}
		&.nav-pills,
		&.nav-list{
			>.active{
				>a,
				>a:hover,
				>a:focus{
					background-color: @color_one;
				}
			}
		}
	}
}
// ---------------------------------------------
#bottom-menu{
	margin-bottom: 0;

	.navbar-inner{
		border-bottom: 1px solid @textColor;
		border-top: 1px solid @textColor;
		.nav{
			border: 0;
			display: table;
			float: none;
			margin: 0 auto;
			li{
				>a{
					padding-left: 3em;
					padding-right: 3em;
					&.item-desc{
						&:hover,
						&:focus{
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
// Lifestream
// ---------------------------------------------

div {

	div.lifestream{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		ul.stream{
			box-shadow: none;
			background-color: transparent;
			background-image: none;
			border: 0;
			filter: none;
			padding: 0;
			color: @textColor;
			li{
				box-shadow: none;
				background-color: transparent;
				background-image: none;
				border: 0;
				filter: none;
				font-size: 24px;
				margin-bottom: 15px;
				padding: 0;

				.icon{
					margin-right: 20px;
				}

				&.list_twitter,
				&.list_rss{
					img{
						display: none;
					}
				}
				&.list_twitter{
					.icon{
						&:before{
							background-image: url(../images/cyan/icon-twitter.png);
							content: '';
							display: inline-block;
							height: 68px;
							width: 67px;
						}
					}
				}
				&.list_rss{
					.icon{
						&:before{
							border-radius: 60px;
							border: 2px solid;
							content: "\f09e";
							display: inline-block;
							font-family: FontAwesome;
							font-size: 34px;
							height: 64px;
							line-height: 68px;
							text-align: center;
							width: 63px;
						}
					}
				}
			}
		}
	}

}

// ---------------------------------------------

.counter{
	line-height: 30px;
	margin-bottom: 0;
}

#contact-form{
	input, textarea{
		margin-bottom: 10px;
	}
}

// ---------------------------------------------

.well{
	.box-shadow(none);
	border: 0;
}

.hero-unit{
	.border-radius(0);
	.hero-unit{
		padding: 0;
		margin-bottom: 0;
	}
}

.pagination{
	margin-top: 20px;
}

// ---------------------------------------------

// Blogs

.viewBlog{
	#system-message-container{
		display: none;
	}
	.container-flexbox{
		&.main-wrapp{
			padding: 0;
			border-bottom: 0;
			#main{
				padding: 0;
			}
		}
	}
}

.blog,
.blog-featured{
	.box-sizing(border-box);
	margin-left: -10px;
	margin-right: -10px;

	> .row-fluid{
		.box-sizing(border-box);
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom: 1px solid @color_three;

		&:before,
		&:after{
			display: none;
		}

		> [class*="span"]{
			.box-sizing(border-box);
			border-left: 1px solid @color_three;
			float: none;
			margin-left: 0;
			padding: 15px 10px;

			&:first-child{
				border-left: 0;
			}
		}

		[class*="module"]{
			> h3{
				margin-top: 0;
			}
		}

		> .span12 {
		    width: 100%;
		}
		> .span11 {
		    width: 91.6667%;
		}
		> .span10 {
		    width: 83.3333%;
		}
		> .span9 {
		    width: 75%;
		}
		> .span8 {
		    width: 66.6667%;
		}
		> .span7 {
		    width: 58.3333%;
		}
		> .span6 {
		    width: 50%;
		}
		> .span5 {
		    width: 41.6667%;
		}
		> .span4 {
		    width: 33.3333%;
		}
		> .span3 {
		    width: 25%;
		}
		> .span2 {
		    width: 16.6667%;
		}
		> .span1 {
		    width: 8.33333%;
		}
	}

	> .category-desc{
		.clearfix();
		border-bottom: 1px solid @color_three;
		padding-bottom: 15px;
	}

	.items-leading {
		border-bottom: 1px solid @color_three;
		[class*="leading-"]{
			padding-bottom: 15px;
			padding-top: 15px;

			> [class*="float-"]{
				display: table-row;
				> .article-image,
				> .article-content{
					display: table-cell;
					vertical-align: top;
				}

				> .article-image{
					width: 30%;
					.img-intro-left,
					.img-intro-right{
						float: none;
					}
				}

				> .article-content{
					width: 70%;
				}
			}

		}
	}

	.items-row,
	.items-leading {
		.flexbox-content();

		&:last-child{
			border-bottom: 0;
		}

		.item,
		[class*="leading-"]{

			> [class*="float-"]{
				> .article-content{
					> h2{
						font-size: 20px;
						line-height: 1.9rem;
						margin: 0 0 15px;
						a{
							color: @color_four;
							padding-right: 55px;
							position: relative;

							&:hover,
							&:focus{
								color: @color_one;
								text-decoration: none;
							}
							&:after{
								content: "\f105";
								font-family: FontAwesome;
								font-size: 27px;
								height: 27px;
								line-height: 27px;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
					}
				}
			}


		}

		.item{

			&.span4,
			&.span3,
			&.span2{
				> [class*="float-"]{
					> .article-content{
						> h2{
							a{
								display: block;
							}
						}
					}
				}
			}
			&.span3{
				> [class*="float-"]{
					> .article-content{
						> h2{
							font-size: 19px;
						}
					}
				}
			}

			> .float-left,
			> .float-right{
				> .article-image{
					max-width: 40%;
				}
			}

		}
	}
}

// Articles Categories Module

.img-block{
	display: block;
}

[class*="categories-module"]{
	small{
		p{
			display: inline-block;
			font-size: 0.8em;
		}
	}
	margin: 0;
	ul{
		margin: 0;
	}
}

// Newsflash module

[class*="newsflash-vert"]{
	list-style: none;
	margin-left: 0;
	.newsflash-title{
		.page-header{
			border: 0;
			margin-bottom: 15px;
			margin-top: 15px;
			padding: 0;
		}
	}
	p.readmore{
		float: none;
		text-align: right;
	}
	.article-separator{
		border-bottom: 1px solid @color_three;
		display: block;
		line-height: 0;
		margin: 15px -10px;
	}
	li{
		&:last-child{
			.article-separator{
				display: none;
			}
		}
	}
}
// -------------------------------------

#main-content{
	margin-bottom: 0;
}

.img-polaroid{
	.box-sizing(border-box);
}

.archive{
	.intro{
		padding: 0;
	}
}

.readmore{
	.icon-chevron-right{
		display: none;
	}
}