
.flexbox-content(){
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * @baseFontSize);
  font-size: @pxValue;
  font-size: ~"@{remValue}rem";
}

#container-unlimited {
	.core (@gridColumnWidth, @gridGutterWidth) {
		.span (@columns) {
		  width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
		}

		div.jss-slider .owl-carousel .jss-image-container.jss-descpos-top .jss-image .jss-title-description { .span(@gridColumns); }
		div.jss-slider .owl-carousel .jss-image-container.jss-descpos-bottom .jss-image .jss-title-description { .span(@gridColumns); }
	}
}

@media(min-width:1200px) {
	#container-unlimited > .core(@gridColumnWidth1200, @gridGutterWidth1200);
}

@media (min-width: 1200px) {
	#toolbar{
		.navbar {
			.nav{
				>li{
					margin-left: 45px;
					margin-right: 45px;
				}
			}
		}
	}
	#nav-toolbar{
		width: 1170px;
	}
	.logo-menu{
		&.container{
			width: 1130px;
		}
	}
}

@media(min-width: 940px) {
	#container-unlimited > .core(@gridColumnWidth, @gridGutterWidth);

	#slider-position .jss-slider.jss-slider-template-design {
		.owl-carousel {
			.jss-image-container.jss-descpos-bottom .jss-image .jss-title-description.jss-alignment-left,
			.jss-image-container.jss-descpos-top .jss-image .jss-title-description.jss-alignment-left {
				.center-block();
				right: 0;
			}

			.jss-image-container.jss-descpos-bottom .jss-image .jss-title-description.jss-alignment-right,
			.jss-image-container.jss-descpos-top .jss-image .jss-title-description.jss-alignment-right {
				.center-block();
				right: 0;
			}

			.jss-image-container.jss-descpos-top .jss-image .jss-title-description {
				top: 150px;
			}

			.jss-image .jss-title {
				height: auto;
			}

			.jss-title-description {
				.center-block();

				&.jss-alignment-left {
					.jss-title,
					.jss-description {
						padding-left: 171px;
						width: 100%;
					}
				}

				&.jss-alignment-right {
					.jss-title,
					.jss-description {
						padding-right: 171px;
						width: 100%;
					}
				}

				&.jss-alignment-center {
					.jss-title,
					.jss-description {
						.center-block();
					}
				}

				.jss-title {
					.box-sizing(box-sizing);
					max-width: 70%;
					padding-top: 80px;

					h3{
						font-size: 33px;
					}
				}

				.jss-description {
					.box-sizing(box-sizing);
					display: block;
					font-size: @baseFontSize + 10;
					line-height: @baseFontSize + 10;
					max-width: 70%;
					padding-left: 171px;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 979px){
	#nav-toolbar{
		width: 724px;
	}
	.logo-menu{
		&.container{
			width: 685px;
		}
	}
	div.slidermanImgCont div{
		height: 100% !important;
	}

	#slider-position .jss-slider.jss-slider-template-design {
		.owl-carousel {
			.jss-image-container.jss-descpos-bottom .jss-image .jss-title-description.jss-alignment-left,
			.jss-image-container.jss-descpos-top .jss-image .jss-title-description.jss-alignment-left {
				.center-block();
				right: 0;
			}

			.jss-image-container.jss-descpos-bottom .jss-image .jss-title-description.jss-alignment-right,
			.jss-image-container.jss-descpos-top .jss-image .jss-title-description.jss-alignment-right {
				.center-block();
				right: 0;
			}

			.jss-image-container.jss-descpos-top .jss-image .jss-title-description {
				top: 150px;
			}

			.jss-image .jss-title {
				height: auto;
			}

			.jss-title-description {
				.center-block();

				&.jss-alignment-left {
					.jss-title,
					.jss-description {
						float: left;
						width: 100%;
					}
				}

				&.jss-alignment-right {
					.jss-title,
					.jss-description {
						float: right;
						width: 100%;
					}
				}

				&.jss-alignment-center {
					.jss-title,
					.jss-description {
						.center-block();
					}
				}

				.jss-title {
					.box-sizing(box-sizing);
					padding-top: 80px;

					h3{
						font-size: 33px;
					}
				}

				.jss-description {
					.box-sizing(box-sizing);
					display: block;
					font-size: @baseFontSize + 10;
					line-height: @baseFontSize + 10;
					padding-left: 171px;
				}
			}
		}
	}

	#container-unlimited > .core(@gridColumnWidth768, @gridGutterWidth768);
}
@media (max-width: 979px) {

	.navbar{
		.btn-navbar{
			.box-shadow(none);
			border: 0;
		}
	}
	.logo-menu{
		.navbar{
			.navbar-inner{
				.btn-navbar{
					margin-bottom: 12px;
					margin-top: 12px;
				}
			}
			.nav{
				.box-sizing(border-box);
				background-color: fade(@bodyBackground, 90%);
				float: none;
				padding: 0 10px 10px;
				width: 100%;
				>li{
					>a{
						padding-left: 0;
						padding-right: 0;
					}
					> .dropdown-menu{
						margin: 0;
					}
				}
			}
		}
	}
	.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
		.border-radius(0);
	}

	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner {
		li{
			&.dropdown {
				.dropdown-menu{
					li{
						.sub-menu{
							border: 0;
							li{
								&.last-child{
									>a{
										border-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.navbar-inverse .nav-collapse .nav>li>a,
	.navbar-inverse .nav-collapse .dropdown-menu a{
		padding-left: 10px;
		padding-right: 10px;
	}
	#toolbar {
		.navbar .nav>li{
			margin-left: 0;
			margin-right: 0;
			a{
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.navbar-fixed-top{
			position: fixed;
			.navbar-inner{
				padding: 0;
			}
			.btn-navbar{
				margin-top: 7px;
			}
		}
	}
	.wrappToolbar.collapsedToolbar {
		.navbar-inner {
			.collapsedToolbarInner {
			    height: auto !important;
			    min-height: @navbarHeight;
			    overflow: visible;
			}
		}
	}
	.blog,
	.blog-featured{
		.items-row,
		.items-leading {
			.item,
			[class*="leading-"]{
				> [class*="float-"]{
					> .article-content{
						> h2{
							a{
								display: block;
								padding-right: 30px;
							}
						}
					}
				}
			}
		}
	}

	#slider-position{
		.slidermanDescriptionText {
			max-width: 100%;
		}
	}

	#slider-position .jss-slider.jss-slider-template-design {
		.owl-carousel {
			.jss-title-description {
				&.jss-alignment-left {
					.jss-title,
					.jss-description {
						padding-left: 20px;
					}
				}

				&.jss-alignment-right {
					.jss-title,
					.jss-description {
						padding-right: 20px;
					}
				}

				.jss-title,
				.jss-description {
					max-width: 100%;
				}
			}
		}
	}

	[class*="newsflash-horiz"]{
		.newsflash-title{
			.font-size(1.2);
		}
	}
	.row-fluid{
		&[class*="categories-module"]{
			text-align: center;
		}
	}
	.category-title, .category-separator, .category-description{
		float: none;
	}
	.category-separator{
		display: block;
	}
	.category-separator, .category-description{
		margin-top: 0;
		padding-left: 0;
	}

}
@media (max-width: 767px) {

	#toolbar{
		.nav-collapse, #menu .nav-collapse{
			.box-sizing(border-box);
			.flexbox-content();
			justify-content: center;
			padding-left: 20px;
			padding-right: 20px;
			width: 100%;
		}
		.navbar-fixed-top{
			margin-left: 0;
			margin-right: 0;
		}

		.btn-navbar {
			margin-right: 20px;
		}
	}
	#nav-toolbar{
		width: auto;
	}

	.blog,
	.blog-featured,
	.container-flexbox{
		> .row , > .row-fluid{
			> [class*="span"]{
				border-bottom: 1px solid @color_three;
				border-left: 0;
				float: none;
				margin-bottom: 0;
				width: 100%;

				&:last-of-type{
					border-bottom: 0;
				}
			}
		}
	}

	.blog,
	.blog-featured{
		.items-row,
		.items-leading{
			display: block;
			.article-content{
				.clearfix();
			}
		}
		.items-row{
			.item > [class*="float-"] > .article-content > h2 a{
				display: block;
			}
		}
		.items-leading{
			[class*="leading-"] > [class*="float-"] > .article-content > h2 a{
				display: block;
			}
		}
	}

	.container-flexbox{
		> .row , > .row-fluid{
			display: block;
			>[class*="span"].no-padding{
				margin-left: -10px;
				margin-right: -10px;
			}
		}
	}
	.container-padding{
		[class*="newsflash-horiz"]{
			margin-left: -20px;
			margin-right: -20px;
		}
	}
	.container-full{
		> div{
			> .first[class*="span"]{
				padding-right: 20px;
			}
			> .last[class*="span"]{
				padding-left: 20px;
			}
		}
	}
    #header{
        margin-left: -20px;
        margin-right: -20px;

		.logo-menu{
			&.absolute {
				position: static;
			}

			#logo, #menu{
				float: left;
			}
			#logo{
				margin-bottom: 10px;
				margin-top: 10px;
				width: 60%;
				a{
					display: block;
				}
			}
			#menu{
				width: 40%;
				#nav-menu{
					left: 5%;
					position: absolute;
					top: 53px;
					width: 90%;
				}
			}

			.navbar{
				.navbar-inner{
					.btn-navbar {
						margin-bottom: 10px;
						margin-top: 10px;
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
			.logo-menu-inner{
				margin-left: 20px !important;
				margin-right: 20px;
				position: relative;
				width: auto;
				z-index: 2;
			}
			&.container-fluid{
				.logo-menu-inner{
					margin-left: 0 !important;
					margin-right: 0;
				}
			}
		}
    }

    .wrappToolbar~.js-slider {
    	margin-top: 0;
    }

   	.logo-menu{
		&.container{
			width: auto;
		}
	}
    .header-content{
    	padding-left: 40px;
    	padding-right: 40px;
    }
    [class*="newsflash-horiz"]{
    	> .row,
    	> .row-fluid{
    		display: block;
		    [class*="span"]{
				border-bottom: 1px solid @color_three;
				border-left: 0;
				padding: 13px 20px;
				width: 100%;
				&:last-child{
					border-bottom: 0;
				}
		    }
    	}
    	.item-content[onclick]{
			margin: 0;
    	}
    }
    .row-fluid{
    	&[class*="categories-module"]{
    		display: block;
    		> [class*="span"]{
    			border-left: 0;
    			border-top: 1px solid @color_three;
    			padding-left: 20px;
    			padding-right: 20px;
    			&:first-child{
    				border-top: 0;
    			}
    		}
    	}
    }
    .nav.nav-tabs{
    	border-bottom: 0;
    }

	#slider-position {
		.slidermanDescriptionCont{
			padding-left: 0;
			padding-right: 0;
			position: static !important;
		}

		.slidermanDescriptionText {
			padding-left: 0;
		}
		.slideTitle{
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	#slider-position .jss-slider.jss-slider-template-design
		.owl-carousel .jss-image-container.jss-descpos-top .jss-image .jss-title-description {
		.box-sizing(border-box);
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}

	#slider-position .jss-slider.jss-slider-template-design {
		.owl-carousel {
			.jss-title-description {
				&.jss-alignment-left {
					.jss-title,
					.jss-description {
						padding-left: 0;
					}
				}

				&.jss-alignment-right {
					.jss-title,
					.jss-description {
						padding-right: 0;
					}
				}

				&.jss-alignment-left,
				&.jss-alignment-right {
					.box-sizing(border-box);
					padding-left: 40px;
					padding-right: 40px;
				}
			}
		}
	}

	.jss-slider .owl-carousel .jss-image-container.jss-descpos-top .jss-image .jss-title-description {
		bottom: 0;
		top: auto !important;
	}

	#bottom-menu .navbar-inner {border: 0;}

	#footer {
		margin-left: 0;
		margin-right: 0;
	}

}
