.flexbox-content(){
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	> [class*="span"]{
		.box-sizing(border-box);
		float: none;
	}
}

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * @baseFontSize);
  font-size: @pxValue;
  font-size: ~"@{remValue}rem";
}

#container-unlimited {
	.core (@gridColumnWidth, @gridGutterWidth) {
		.span (@columns) {
		  width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
		}

		div.jss-slider .owl-carousel .jss-image-container.jss-descpos-top .jss-image .jss-title-description { .span(@gridColumns); }
		div.jss-slider .owl-carousel .jss-image-container.jss-descpos-bottom .jss-image .jss-title-description { .span(@gridColumns); }
	}
}

.children-rm-m(){
	> *:first-child{
		margin-top: 0;
		> *:first-child{
			margin-top: 0;
			> *:first-child{
				margin-top: 0;
			}
		}

	}

	> *:last-child{
		margin-bottom: 0;
		> *:last-child{
			margin-bottom: 0;
			> *:last-child{
				margin-bottom: 0;
			}
		}
	}
}

// ---------------------------------------------

h1{
	.font-size(2.2);
}
h2{
	.font-size(1.9);
}
h3{
	.font-size(1.7);
}
h4{
	.font-size(1.5);
}
h5{
	.font-size(1.3);
}
h6{
	.font-size(1.1);
}

blockquote{
	background-repeat: no-repeat;
	border-left: 0;
	padding-left: 35px;

	&.pull-right{
		border-right: 0;
	}

	p{
		.font-size(1.6);
		background-repeat: no-repeat;
		background-position: right bottom;
		color: @color_three;
		padding-right: 35px;
	}
}

// Docs
// ---------------------------------------------

div{
	.bs-docs-example{
		.border-radius(0);
		border: 0;
		border-top: 1px solid @textColor;
		margin-top: 35px;
		overflow: visible;
		padding: 15px 25px;

		&:after{
			.border-radius(0);
			background-color: @textColor;
			border: 0;
			bottom: 100%;
			color: @bodyBackground;
			font-size: @baseFontSize;
			font-weight: 400;
			padding: 2px 30px;
			top: auto;
		}
	}

	.prettyprint{
		.border-radius(0);
		border-bottom-color: @textColor;
		border-left: 0;
		border-right: 0;
	}
}

code{
	background-color: transparent;
	border: 0;
	color: @textColor;
	font-size: @baseFontSize;
	font-weight: 700;
}

// ---------------------------------------------

#bottom-menu .nav,
.nav.nav-tabs{
	border-bottom: 1px solid @textColor;
	border-top: 1px solid @textColor;

	dt{
		span{
			display: block;
		}
		h3{
			margin-top: 0;
		}
	}
	li{
		> a{
			&.item-desc{
				margin-bottom: 11px;
				margin-top: 11px;
				&:hover,
				&:focus{
					text-decoration: none;
				}
			}
		}
	}
	> li , h3 , p{
		> a{
			border: 0;
			color: @textColor;
			display: block;
			font-size: @baseFontSize;
			font-weight: 400;
			padding: 1em 1.5em;
			padding: 1rem 1.5rem;

			[class^="icon-"],[class*=" icon-"]{
				color: @textColor;
			}

			&:hover,
			&:focus{
				background-color: transparent;
				text-decoration: underline;
				[class^="icon-"],[class*=" icon-"]{
					text-decoration: underline;
				}
			}
		}
		&.dropdown{

			a{
				.caret{
					border-top-color: @textColor;
				}
				&:hover,
				&:focus{
					.caret{
						border-top-color: @textColor;
					}
				}
			}

		}
	}

	.open{
		h3, p {
			a{
				color: @textColor !important;
				position: relative;

				&:after{
					border-bottom: 2px solid @color_one;
					bottom: 0;
					content: '';
					left: 0;
					position: absolute;
					width: 100%;
				}

				&:hover,
				&:focus{
					text-decoration: none;
				}
			}
		}
	}
	> li.active{
		> a{
			border: 0;
			color: @textColor;
			position: relative;

			&:after{
				border-bottom: 2px solid @color_one;
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:hover,
			&:focus{
				background-color: transparent;
				border: 0;
				text-decoration: none;
			}
		}
	}

}
.nav-tabs.nav-stacked > li:last-child > a {
	.border-radius(0);
}

.tabs-below{
	>.nav-tabs{
		>li{
			margin-top: 0;
		}
	}
}

.tabbable {
	&.tabs-left,
	&.tabs-right{
		.nav-tabs{
			border: 0;
			border-left: 1px solid @textColor;
			border-right: 1px solid @textColor;
			>li{
				a.item-desc{
					margin-left: 20px;
					margin-right: 20px;
				}
				&.dropdown {
					a{
						.caret {
							margin-top: 19px;
							margin-right: 15px;
						}
					}
					.dropdown-menu{
						margin: 0 auto;
						width: 80%;
						> .active > a{
							border-top-color: @color_four;
						}
					}
				}
			}
		}
	}
	&.tabs-left{
		.nav-tabs{
			> li.active{
				> a{
					&:after{
						border-right: 2px solid @color_one;
						bottom: 0;
						height: 100%;
						left: auto;
						right: 0;
						width: auto;
					}

					&:hover,
					&:focus{
						background-color: transparent;
						border: 0;
						text-decoration: none;
					}
				}
			}
		}
	}
	&.tabs-right{
		.nav-tabs{
			> li.active{
				> a{
					&:after{
						border-left: 2px solid @color_one;
						bottom: 0;
						height: 100%;
						width: auto;
					}

					&:hover,
					&:focus{
						background-color: transparent;
						border: 0;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.nav-list, .nav-pills {
	> li {
		> a {
			&:hover, &:focus {
				background-color: transparent;
				color: @textColor;
			}
		}

		> .dropdown-toggle {
			&:hover, &:focus{
				.caret {
					border-top-color: @textColor;
				}
			}
		}

		&.active {
			> .dropdown-toggle {
				.caret {
					border-top-color: @white;
				}

				&:hover, &:focus{
					.caret {
						border-top-color: @white;
					}
				}
			}
		}
	}

	// General Submenus (only vertical menus)

	ul.submenu {
		> li {
			> a {
				border-top: 1px solid @color_four;
				color: @color_four;

				.caret {
					border-top-color: @color_four;
				}

				&:hover, &:focus{
					color: @textColor;

					.caret {
						border-top-color: @textColor;
					}
				}
			}

			&:first-child {
				> a {
					border-top: 0;
				}
			}

			&.active {
				> a {
					color: @textColor;

					.caret {
						border-top-color: @textColor;
					}

					&:hover, &:focus{
						color: @textColor;

						.caret {
							border-top-color: @textColor;
						}
					}
				}
			}
		}
	}
}


// ---------------------------------------------

#breadcrumbs{
	margin-bottom: 0;
	+ .container-flexbox{
		> .row,
		> .row-fluid{
			border-top-width: 0;
		}
		&.no-bordered-bottom{
			> .row,
			> .row-fluid{
				border-bottom-width: 0;
			}
		}
	}
}

.breadcrumb{
	.border-radius(0);
	background-color: transparent;
	border-bottom: 1px solid @color_three;
	border-top: 1px solid @color_three;
	line-height: 29px;
	margin-bottom: 0;
	min-height: 31px;
	padding: 0 20px;

	li{
		a, span{
			color: @color_four;
			display: inline-block;
			font-size: 12px;
			vertical-align: middle;
		}

		span{
			font-weight: 700;
			&.divider:not(.hasTip){
				background-image: url(../images/breadcrumb-divider.png);
				height: 31px;
				margin-right: 5px;
				padding: 0;
				text-indent: -999px;
				width: 10px;

				.icon-caret-right{
					display: none;
				}
			}
		}
	}
}

.item-page{
	> .page-header{
		border: 0;
		margin: 0;
		padding: 0;
		h2{
			font-size: 24px;
			a{
				color: @color_four;
			}
		}
	}
}
.pager{
	li {
		>a,>span{
			.transition(all ease .2s);
			.border-radius(5px);
			border-color: @color_one;
			font-size: 1em;
			font-size: 1rem;
			padding: 4px 40px;
		}
	}
}
.label, .badge{
	font-size: 12px;
	font-weight: 400;
	text-shadow: none;
}
// ---------------------------------------------

.btn{
	.box-shadow(none);
	.transition(all ease .2s);
	background-color: transparent;
	background-image: none;
	border-color: @color_four;
	color: @color_four;
	filter: none;
	text-shadow: none;

	&.dropdown-toggle{
		.caret{
			border-top-color: @color_four ;
		}
		&:hover,
		&:focus{
			.caret{
				border-top-color: @white;
			}
		}
	}

	&:hover,
	&:focus{
		.transition(all ease .2s);
		background-color: @color_one;
		border-color: @color_one;
		color: @white;
		filter: none;
	}

	&.btn-primary{
		&:hover,
		&:focus{
			background-color: @color_one;
			border-color: @color_one;
		}
	}

	&.btn-danger{
		&:hover,
		&:focus{
			background-color: @btnDangerBackground;
			border-color: @btnDangerBackground;
		}
	}
	&.btn-info{
		&:hover,
		&:focus{
			background-color: @btnInfoBackground;
			border-color: @btnInfoBackground;
		}
	}
	&.btn-success{
		&:hover,
		&:focus{
			background-color: @btnSuccessBackground;
			border-color: @btnSuccessBackground;
		}
	}
	&.btn-warning{
		&:hover,
		&:focus{
			background-color: @btnWarningBackground;
			border-color: @btnWarningBackground;
		}
	}
	&.btn-inverse{
		&:hover,
		&:focus{
			background-color: @btnInverseBackground;
			border-color: @btnInverseBackground;
		}
	}
	&.btn-link{
		border: 0;
		&:hover,
		&:focus{
			background-color: transparent;
			border: 0;
			color: @color_four;
		}
	}
	&[disabled],
	&.disabled{
		&:hover,
		&:focus{
			background-color: @color_four;
			border-color: @color_four;
			color: @grayDark;
		}

		&.btn-primary{
			&:hover,
			&:focus{
				color: @white
			}
		}

		&.btn-danger{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-info{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-success{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-warning{
			&:hover,
			&:focus{
				color: @white;
			}
		}
		&.btn-inverse{
			&:hover,
			&:focus{
				color: @white;
			}
		}
	}
}
.btn-large{
	padding: 8px 28px;
	font-size: 14px;
}
.dropup{
	.btn.dropdown-toggle{
		.caret{
			border-bottom-color: @color_four;
		}
		&:hover,
		&:focus{
			.caret{
				border-bottom-color: @white;
			}
		}
	}
}

.btn-group.open .dropdown-toggle{
	.box-shadow(none);
}
.btn-group.open {
	.btn.dropdown-toggle,
	.btn-primary.dropdown-toggle{
		background-color: @color_one;
	}
	.btn-primary.dropdown-toggle{
		background-color: @color_one;
	}
	.btn-danger.dropdown-toggle{
		background-color: @btnDangerBackground;
		border-color: @btnDangerBackground;
	}
	.btn-info.dropdown-toggle{
		background-color: @btnInfoBackground;
		border-color: @btnInfoBackground;
	}
	.btn-success.dropdown-toggle{
		background-color: @btnSuccessBackground;
		border-color: @btnSuccessBackground;
	}
	.btn-warning.dropdown-toggle{
		background-color: @btnWarningBackground;
		border-color: @btnWarningBackground;
	}
	.btn-inverse.dropdown-toggle{
		background-color: @btnInverseBackground;
		border-color: @btnInverseBackground;
	}
}

// ---------------------------------------------

.table{
	th, td{
		padding: @baseFontSize 8px;
		text-align: center;
	}
	th{
		color: @color_four;
		a{
			color: @color_four;
		}
	}
	&.table-condensed{
		th, td{
			padding: 4px 5px;
		}
	}
}

.table-striped{
	tbody>tr:nth-child(odd){
		> td, > th{
			color: @color_one;
		}
	}
}

.table-hover {
	tbody tr:hover{
		>td, >th{
			color: @color_one;
		}
	}
}

.table-bordered{
	.border-radius(0);
}
.table-bordered caption+thead tr:first-child th:first-child,
.table-bordered caption+tbody tr:first-child td:first-child,
.table-bordered colgroup+thead tr:first-child th:first-child,
.table-bordered colgroup+tbody tr:first-child td:first-child{
	.border-radius(0);
}
.table-bordered caption+thead tr:first-child th:last-child,
.table-bordered caption+tbody tr:first-child td:last-child,
.table-bordered colgroup+thead tr:first-child th:last-child,
.table-bordered colgroup+tbody tr:first-child td:last-child{
	.border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:first-child,
.table-bordered tbody:first-child tr:first-child>td:first-child,
.table-bordered tbody:first-child tr:first-child>th:first-child{
	.border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:last-child,
.table-bordered tbody:first-child tr:first-child>td:last-child,
.table-bordered tbody:first-child tr:first-child>th:last-child{
	.border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:first-child,
.table-bordered tbody:last-child tr:last-child>td:first-child,
.table-bordered tbody:last-child tr:last-child>th:first-child,
.table-bordered tfoot:last-child tr:last-child>td:first-child,
.table-bordered tfoot:last-child tr:last-child>th:first-child{
	.border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:last-child,
.table-bordered tbody:last-child tr:last-child>td:last-child,
.table-bordered tbody:last-child tr:last-child>th:last-child,
.table-bordered tfoot:last-child tr:last-child>td:last-child,
.table-bordered tfoot:last-child tr:last-child>th:last-child{
	.border-radius(0);
}

// ---------------------------------------------

.input-prepend,
.input-append{
	.add-on,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input{
		border-color: @color_four;
	}
}

// ---------------------------------------------

.unlimited-grid{
	> .row , > .row-fluid{
		> .span12 {
		    width: 100%;
		}
		> .span11 {
		    width: 91.6667%;
		}
		> .span10 {
		    width: 83.3333%;
		}
		> .span9 {
		    width: 75%;
		}
		> .span8 {
		    width: 66.6667%;
		}
		> .span7 {
		    width: 58.3333%;
		}
		> .span6 {
		    width: 50%;
		}
		> .span5 {
		    width: 41.6667%;
		}
		> .span4 {
		    width: 33.3333%;
		}
		> .span3 {
		    width: 25%;
		}
		> .span2 {
		    width: 16.6667%;
		}
		> .span1 {
		    width: 8.33333%;
		}
		> [class*="span"]{
			margin-bottom: 0;
			@media (max-width: 767px) {
				width: auto;
			}
		}
	}
}

.container-padding{
	.box-sizing(border-box);
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid @color_three;
	border-top: 1px solid @color_three;

	+ .container-flexbox > .row,
	+ .container-flexbox > .row-fluid,
	+ .container-padding,
	+ .wrapper-footer #bottom-menu .navbar-inner,
	+ #breadcrumbs .breadcrumb{
		border-top: 0;
	}

	> div {
		margin-left: 0;
		> [class*="span"]{
			padding-bottom: 10px;
			padding-top: 10px;
			> h3{
				margin-top: 0;
			}
			> *:last-child{
				margin-bottom: 0;
				> *:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	[class*="newsflash-horiz"]{
		margin-bottom: -10px !important;
		margin-top: -10px;
	}
}

.container-full{
	> .row,
	> .row-fluid {
		border-bottom: 1px solid @color_three;
	}

	+ .wrapper-footer #bottom-menu .navbar-inner,
	+ .container-flexbox >.row,
	+ .container-flexbox > .row-fluid{
		border-top: 0;
	}

	> div {
		margin-left: 0;
		> [class*="span"]{
			.box-sizing(border-box);
			padding: 10px;

			&.first{
				padding-left: 20px;
			}
			&.last{
				padding-right: 20px;
			}

			> h3{
				margin-top: 0;
			}
			.children-rm-m();
		}
	}
}


.container-flexbox{

	+ .container-padding,
	+ .container-full,
	+ .container-flexbox > .row,
	+ .container-flexbox > .row-fluid,
	+ .wrapper-footer #bottom-menu .navbar-inner,
	+ #breadcrumbs .breadcrumb{
		border-top: 0;
	}
	&.no-bordered-bottom{
		+ .wrapper-footer #bottom-menu .navbar-inner{
			border-top: 1px solid @grayLight;
		}
	}

	> .row , > .row-fluid{
		.box-sizing(border-box);
		.flexbox-content();
		border-bottom: 1px solid @color_three;
		border-top: 1px solid @color_three;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 0;

		> [class*="span"]{
			border-left: 1px solid @color_three;
			padding: 10px;
			&.no-padding{
				padding: 0;
			}

			&:first-child{
				border-left: 0;
			}
		}

		[class*="module"]{
			> h3{
				margin-top: 0;
			}
		}
	}
}

// ---------------------------------------------

#grid-top,
#grid-bottom,
#grid-bottom2{
	margin-bottom: 0;
}

#footer{
	background-image: none;
	background-color: transparent;
	color: @textColor;
	filter:none;
	font-size: @baseFontSize - 1;

	&.sticky{
		left: 0;
	}
	.container,
	.container-fluid{
		.box-sizing(border-box);
		.unlimited-grid;
	}
	> .container-fluid{
		margin-left: 20px;
		margin-right: 20px;
	}
	#bottom-menu{
		.navbar{
			margin-bottom: 0;
		}
		.navbar-inner{
			padding: 0;
		}
	}
	.footer-content{
		margin: 15px auto;
		width: 75%;
		.nav{
			li{
				float: left;
				border-left: 1px solid @grayLighter;
				&:first-child{
					border-left: 0;
				}
				>a{
					padding-bottom: 0;
					padding-top: 0;
				}
			}
		}
	}
}

.footer1, .footer2{
	text-align: left;
}

// ---------------------------------------------

.module_ms1,
.moduletable_ms1,
.moduletext_ms1{
	background-color: @color_two;
	color: @color_one;
	padding: 10px;
	div.lifestream ul.stream{
		color: @color_one;
	}
}

.module_ms2,
.moduletable_ms2,
.moduletext_ms2{
	text-align: center;
	> h3{
		font-size: 20px;
	}
	.jssocialicons-horizontal > li{float: none;display: inline-block;}
}
#featured{
	margin-bottom: 0;
}

#header{
	border-bottom: 1px solid @color_three;
	margin-bottom: 0;
	position: relative;
	color: @color_four;
	margin-bottom: 0;
 	z-index: 1;

	&.headerBg{
		h1,h2,h3,h4,h5,h6{
			color: @white;
		}
		.navbar .nav{
			>li{
				>a{
					&:focus, &:hover{
						color: @white;

						[class^="icon-"],
						[class*=" icon-"]{
							color: @white;
						}
						.caret{
							border-top-color: @white;
						}
					}
				}

				&.active{
					> a{
						color: @white;

						[class^="icon-"],
						[class*=" icon-"]{
							color: @white;
						}
						.caret{
							border-top-color: @white;
						}
					}
				}

			}
		}
	}

	+ .container-flexbox > .row,
	+ .container-flexbox > .row-fluid,
	+ .container-padding,
	+ .container-full,
	+ #breadcrumbs .breadcrumb{
		border-top: 0;
	}

	.header-bg-content{
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;

        .header-filter,
        .header-bg{
            position: absolute;
            top: 0;
        }
        .header-filter{
			height: 259px;
            z-index: 4;
        }
        .header-bg{
            .opacity(80);
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            z-index: 3;
        }

	}

	.moduletable,
	.module{
		&:last-child{
			margin-bottom: 0;
		}
	}
	#featured{
		.moduletable,
		.module{
			&:last-child{
				margin-bottom: 20px;
			}
		}
	}
}

.full-width{
	width: 100%;
}
.full-height{
	height: 100%;
}

.logo-menu{
	.unlimited-grid;
	.center-block();

	.logo-menu-inner{
		.box-sizing(border-box);
		border: 1px solid @navbarBorder;
		margin-bottom: 20px;
		margin-left: 0 !important;
		margin-top: 20px;
		padding: 0 10px;
		> [class*="span"]{
			.box-sizing(border-box);
		}
	}
	&.container{
		width: 900px;
	}
	&.container-fluid{
		margin-left: 20px;
		margin-right: 20px;
	}
	.navbar-inner{
		border: 0;
		min-height: 20px;
		padding: 0;
	}

	#logo{
		margin-bottom: 15px;
		margin-top: 15px;
	}

	#menu{
		margin-bottom: 0;
	}

	.navbar {
		margin: 0;
		.nav{
			float: right;
			left: auto;
			margin: 0;

			> li{
				> a{
					padding-bottom: 18px;
					padding-top: 18px;
					&.item-desc{
						margin: 13px 15px;
					}
				}
				&:last-child{
					> a{
						padding-right: 0;
						&.item-desc{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.header-content{
	.box-sizing(border-box);
	padding: 0 20px;
}

// ---------------------------------------------

.navbar-inner{
	.border-radius(0);
	.box-shadow(none);
}

.navbar-transparent .navbar-inner{
	.box-shadow(none);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	.box-shadow(none);
}

.container-fluid{
	.wrapp-logo-menu{
		#logo{
			margin-bottom: 13px;
			margin-top: 13px;
		}
	}
}

.navbar {
	.nav{
		li {
			> a{
				&.item-desc{
					.border-radius(5px);
					background-color: @color_one;
					color: @white !important;
					padding: 5px 20px !important;
					margin-bottom: 5px;
					margin-top: 5px;
					&:hover,
					&:focus{
						background-color: darken(@color_one, 10%) !important;
						color: @white !important;
						[class^="icon-"],[class*=" icon-"]{
							color: @white !important;
						}
					}
				}
			}

			&.dropdown {
				.dropdown-menu {
					border: 1px solid @color_four;

					&:before,
					&:after{
						display: none;
					}

					> li {
						a{
							&:hover,
							&:focus{
								background-image: none;
								background-color: transparent;
								filter: none;
							}
						}
					}
				}
			}
		}

		>.active{
			>a{
				.box-shadow(none);
				&:hover,
				&:focus{
					.box-shadow(none);
				}
			}
		}
	}
}

#toolbar{
	.navbar {
		.nav{
			display: table;
			float: none;
			margin: 0 auto;
			>li{
				margin-left: 25px;
				margin-right: 25px;
				> a{
					text-transform: uppercase;
					padding-left: 0;
					padding-right: 0;
					&.item-desc{
						margin-bottom: 5px;
						margin-top: 5px;
					}
				}
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

.navbar-inverse {
	.nav {
		li {
			&.dropdown {
				.dropdown-menu {
					border: 1px solid @color_four;

					&:before,
					&:after{
						display: none;
					}
					> li {
						a{
							&:hover,
							&:focus{
								background-image: none;
								background-color: transparent;
								filter: none;
								.caret{
									border-bottom-color: transparent;
									border-top-color: transparent;
								}
							}
						}
						&.active{
							a{
								background-color: transparent;
							}
						}
						.sub-menu{
							&:before,
							&:after{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.dropdown-menu {
	.box-shadow(none);
	.border-radius(0);
	border: 1px solid @color_four;
	border-top-width: 2px !important;

	&:before,
	&:after{
		display: none;
	}

	> li{
		a{
			border-top: 1px solid @color_four;
		}

		&:first-child{
			a{
				border-top: 0;
			}
		}
	}
}

.dropdown-submenu > .dropdown-menu {
    border-radius: 0;
}

#bottom-menu{
	margin-bottom: 0;

	.navbar-inner{
		border-bottom: 1px solid @textColor;
		border-top: 1px solid @textColor;
		.nav{
			border: 0;
			display: table;
			float: none;
			margin: 0 auto;
			li{
				>a{
					padding-left: 3em;
					padding-right: 3em;
					&.item-desc{
						&:hover,
						&:focus{
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

#nav-toolbar{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

// Lifestream
// ---------------------------------------------

div {

	div.lifestream{
		ul.stream{
			box-shadow: none;
			background-color: transparent;
			background-image: none;
			border: 0;
			filter: none;
			padding: 0;
			color: @textColor;
			li{
				box-shadow: none;
				background-color: transparent;
				background-image: none;
				border: 0;
				filter: none;
				font-size: 24px;
				margin-bottom: 15px;
				padding: 0;

				.icon{
					margin-right: 20px;
				}

				&.list_twitter,
				&.list_rss{
					img{
						display: none;
					}
				}
				&.list_twitter{
					.icon{
						&:before{
							background-image: url(../images/cyan/icon-twitter.png);
							content: '';
							display: inline-block;
							height: 68px;
							width: 67px;
						}
					}
				}
				&.list_rss{
					.icon{
						&:before{
							border-radius: 60px;
							border: 2px solid;
							content: "\f09e";
							display: inline-block;
							font-family: FontAwesome;
							font-size: 34px;
							height: 64px;
							line-height: 68px;
							text-align: center;
							width: 63px;
						}
					}
				}
			}
		}
	}

}

// ---------------------------------------------

.counter{
	line-height: 30px;
	margin-bottom: 0;

	&.pull-right{
		display: inline-block;
		float: none;
		vertical-align: top;
	}
}

#contact-form{
	input, textarea{
		margin-bottom: 10px;
	}
}

// ---------------------------------------------

.well{
	.box-shadow(none);
	border: 0;
}

.hero-unit{
	.border-radius(0);
	.hero-unit{
		padding: 0;
		margin-bottom: 0;
	}
}

.pagination{
	margin-top: 20px;
}

// ---------------------------------------------

// Blogs

.viewBlog{
	#system-message-container{
		display: none;
	}
	.container-flexbox{
		&.main-wrapp{
			padding: 0;
			border-bottom: 0;
			#main{
				padding: 0;
				> *{
					width: auto;
				}
			}
		}
	}
}

.blog{margin-bottom: 0;}
.blog,
.blog-featured{
	.box-sizing(border-box);
	margin-left: -10px;
	margin-right: -10px;

	> .row-fluid{
		.box-sizing(border-box);
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom: 1px solid @color_three;

		&:before,
		&:after{
			display: none;
		}

		> [class*="span"]{
			.box-sizing(border-box);
			border-left: 1px solid @color_three;
			float: none;
			padding: 15px 10px;

			&:first-child{
				border-left: 0;
			}
		}

		[class*="module"]{
			> h3{
				margin-top: 0;
			}
		}

		> .span12 {
		    width: 100%;
		}
		> .span11 {
		    width: 91.6667%;
		}
		> .span10 {
		    width: 83.3333%;
		}
		> .span9 {
		    width: 75%;
		}
		> .span8 {
		    width: 66.6667%;
		}
		> .span7 {
		    width: 58.3333%;
		}
		> .span6 {
		    width: 50%;
		}
		> .span5 {
		    width: 41.6667%;
		}
		> .span4 {
		    width: 33.3333%;
		}
		> .span3 {
		    width: 25%;
		}
		> .span2 {
		    width: 16.6667%;
		}
		> .span1 {
		    width: 8.33333%;
		}
	}

	> .page-header,
	> .cat-children,
	> .category-desc{
		padding-left: 20px;
		padding-right: 20px;
	}

	> .category-desc{
		.clearfix();
		border-bottom: 1px solid @color_three;
		padding-bottom: 15px;
	}

	.items-leading {
		.box-sizing(border-box);
		border-bottom: 1px solid @color_three;
		padding-left: 20px;
		padding-right: 20px;
		[class*="leading-"]{
			.clearfix();
			padding-bottom: 15px;
			padding-top: 15px;

			> h2{
				a{
					color: @color_four;
				}
			}

			> [class*="float-"]{
				> .article-image,
				> .article-content{
					display: inline-block;
					vertical-align: top;
					.ie7-inline-block;
				}

				> .article-image{
					width: 30%;
					.img-intro-left,
					.img-intro-right{
						float: none;
					}
				}

				> .article-content{
					width: 70%;
				}
			}

		}
	}

	.items-row{
		.flexbox-content();
		.item{

			&.span4,
			&.span3,
			&.span2{
				> [class*="float-"]{
					> .article-content{
						> h2{
							a{
								display: block;
							}
						}
					}
				}
			}
			&.span3{
				> [class*="float-"]{
					> .article-content{
						> h2{
							font-size: 19px;
						}
					}
				}
			}

			> .float-left,
			> .float-right{
				.children-rm-m();
				> .article-image{
					max-width: 40%;
				}
			}

		}
	}

	.items-row,
	.items-leading {

		&:last-child{
			border-bottom: 0;
		}

		.item,
		[class*="leading-"]{

			> [class*="float-"]{
				> .article-content{
					> h2{
						font-size: 20px;
						line-height: 1.9rem;
						margin: 0 0 15px;
						a{
							color: @color_four;
							padding-right: 55px;
							position: relative;

							&:hover,
							&:focus{
								color: @color_one;
								text-decoration: none;
							}
							&:after{
								content: "\f105";
								font-family: FontAwesome;
								font-size: 27px;
								height: 27px;
								line-height: 27px;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
					}
				}
			}

		}

	}
}

// Articles Categories Module

.img-block{
	display: block;
}

[class*="categories-module"]{
	margin: 0;
	small{
		font-size: 0.7em;
		p{
			display: inline-block;
			font-size: inherit;
		}
	}
	ul{
		margin: 0;
	}

	h1,	h2,	h3,	h4,	h5,	h6{
		margin-bottom: 0;
	}
}

// Horizontal
.category-title,
.category-separator,
.category-description{
	float:left;
}
.category-title{
	a{
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}
}
.category-title,
.category-description{
	a{
		color: @color_four;
		&:hover,
		&:focus{
			color: @linkColor;
		}
	}
	*{
		margin-bottom: 0;
	}
}
.category-separator,
.category-description{
	margin-top: 19px;
	padding-left: 5px;
}
.row-fluid{
	&[class*="categories-module"]{
		.flexbox-content();
		> [class*="span"]{
			padding: 10px;
			border-left: 1px solid @color_three;
			&:first-child{
				border-left: 0;
			}
		}
	}
}
// Newsflash module

[class*="newsflash-"]{
	p{
		font-size: 18px;
		font-weight: 300;
	}
	h5.newsflash-title{
		font-size: 24px;
	}
	.newsflash-title{
		a{
			color: @color_four;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
[class*="newsflash-vert"]{
	list-style: none;
	margin-left: 0;
	.newsflash-title{
		margin: 0;
		.page-header{
			border: 0;
			margin: 0;
			padding: 0;
		}
	}
	p{
		color: @color_four;
		&.readmore{
			float: none;
			text-align: right;
		}
	}
	.article-separator{
		border-bottom: 1px solid @color_three;
		display: block;
		line-height: 0;
		margin: 15px -10px;
	}
	li{
		&:last-child{
			.article-separator{
				display: none;
			}
		}
	}
	[class*="img-intro-left"]{
		float: none;
		a{
			display: block;
			img{
				width: 100%;
			}
		}
	}
}
[class*="newsflash-horiz"]{
	.unlimited-grid;
	color: #878787;
	margin-bottom: -10px;
	margin-top: -10px;
	text-align: center;
	> .row , > .row-fluid{
		.box-sizing(border-box);
		.flexbox-content();
		@media (min-width: 767px) and (max-width: 979px) {
			display: block;
		}
		> [class*="span"]{
			padding: 10px;
		}
		> .span2{
			@media (min-width: 767px) and (max-width: 979px) {
				width: 50%;
				float: left;
			}
		}
	}
	.img-intro-left{
		float: none;
		margin: 0;
	}
	.article-separator{
		display: none;
	}
	.newsflash-title{
		margin: 10px 0 5px;
		.page-header{
			border-bottom: 0;
			margin-bottom: 0;
			margin-top: 5px;
			padding-bottom: 0;
		}
	}
	[class*="span"]{
		.transition(all .25s ease);
		padding: 10px 17px;
		&:hover{
			background-color: @linkColor;
			color: @white;
			*{
				color: @white !important;
			}
		}
		> *:first-child{
			margin-top: 20px;
		}
		> *:last-child{
			margin-bottom: 20px;
		}
	}
}

// -------------------------------------

#main-content{
	margin-bottom: 0;
}

.img-polaroid{
	.box-sizing(border-box);
}

.archive{
	.intro{
		padding: 0;
	}
}

.readmore{
	.icon-chevron-right{
		display: none;
	}
}
// -------------------------------------

.is_internet.v_8,
.is_internet.v_9{
	.container-flexbox{
		border-bottom: 1px solid @color_three;
		display: table;
		> .row , > .row-fluid{
			display: table-row;

			> [class*="span"]{
				display: table-cell;
			}
		}
	}

	#grid-top,
	#grid-bottom2{
		&.container-flexbox{
			border-bottom: 0;
			display: block;
			> .row , > .row-fluid{
				display: block;

				> [class*="span"]{
					display: block;
					float: left;
					overflow: visible !important;
				}
			}
		}
	}
	[class*="newsflash-horiz"]{
		> .row , > .row-fluid{
			display: block;

			> [class*="span"]{
				display: block;
				float: left;
				overflow: visible !important;
			}
		}
	}
	[class*="categories-module"]{
		&.row-fluid{
			display: block;
			> [class*="span"]{
				display: block;
				float: left;
				overflow: visible !important;
			}
		}
	}

	.blog,
	.blog-featured{
		.items-row{
			display: block;
			.item{
				float: left;
				overflow: visible !important;
			}
		}
	}
}

.is_internet.v_8{
	.navbar-inverse{
		.navbar-inner{
			filter :
			progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000',
			endColorstr='#b3000000', GradientType=0)
		}
	}
	.wrappToolbar .navbar-inner{
		filter: none;
		.toolbar-container{
			filter :
			progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000',
			endColorstr='#b3000000', GradientType=0)
		}
	}
	#footer{
		.footer-content{
			.nav{
				li{
					border-left-color: @grayLight;
				}
			}
		}
	}
	.dropdown-menu{
		background-color: @grayLighter;
	}
	#slider-position{
		.shackSliderslider {
			#sliderNav{
				bottom: 15px;
				a{
					vertical-align: top;
				}
			}
		}
	}
	.blog,
	.blog-feautred{
		> .row-fluid{
			border-bottom: 0;
		}
	}

	.wrappToolbar,
	.logo-menu{
		.navbar{
			.nav  li.parent {
				a:hover,
				a:focus{
					background-image: url(../images/filter-bg.png);
					background-position: left bottom;
				}
			}
		}
	}
	.logo-menu{
		.navbar {
			.nav{
				> li{
					> a{
						padding-left: 30px;
						padding-right: 0;
						&.item-desc{
							margin-left: 30px;
							margin-right: 0;
						}
					}
					&:first-child{
						> a{
							padding-left: 0;
							&.item-desc{
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
	div div.lifestream {
		margin: 0;
		ul.stream li{
			margin: 0;
		}
	}
}
// -------------------------------------
.fixed{
	position:fixed;
}

.fixed-top {
	top: 0;
}

.fixed-right {
	right: 0;
}

.fixed-bottom {
	bottom: 0;
}

.fixed-left{
	left: 0;
}

.absolute{
	position: absolute;
}

.absolute-top{
	top: 0;
}

.absolute-right {
	right: 0;
}

.absolute-bottom{
	bottom: 0;
}

.absolute-left{
	left: 0;
}

.relative {
	position: relative;
}

.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.z3 {
	z-index: 3;
}
.z4 {
	z-index: 1031;
}

// Toolbar Swich

.fixed .container,.fixed .container-fluid{
	position:relative
}

.toolbar-switch {
    .transition(none 0s ease 0s);
	color: @black;
    box-sizing: border-box;
    margin-top: 10px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 1031;
	[class*="icon-"] {
		font-size: 40px;
		&:before{
			line-height: @baseLineHeight;
			vertical-align: top;
		}
	}
	.icon-angle-up{
		color: @navbarInverseLinkColor;
	}
	&:hover,
	&:focus{
		cursor: pointer;
		text-decoration: none;
	}
}

.wrappToolbar{
	&.collapsedToolbar{
		.navbar-inner{
			.collapsedToolbarInner {
			    height: 0;
			    overflow: hidden;
			}
		}
	}
	.navbar-inner{
		background-color: transparent;
		background-image: none;
		border: 0;
		filter: none;
	}
}

.wrapper-toolbar{

	.toolbar-container{
		background-color: @navbarBackground;
	}

	.navbar-inverse{
		.toolbar-container{
			background-color: @navbarInverseBackground;
		}
	}
}

// -------------------------------------
// slider

#slider-position {
	.slidermanDescriptionCont {
		.box-sizing(border-box);
		padding-left:20px;
		padding-right:20px;
		.btn{
			border-color: @white;
			color: @white;
			&:hover,
			&:focus{
				border-color: @color_one;
			}
		}
	}
	.slidermanDescriptionText {
		.box-sizing(box-sizing);
		padding-left: 171px;
		padding-top: 80px;
		max-width: 70%;
	}
	.slideTitleIn{
		h3{
			font-size: 33px;
		}
	}

	.shackSliderslider  {
		margin-bottom: 0;
		overflow: hidden;
		#sliderNav{
			position:absolute;
			bottom: 0;
			width: 100%;
			z-index: 1500;
			a{
				background-image: none;
				height: 30px;
				margin: 0 7px;
				padding: 0;
				vertical-align: middle;
				width: 30px !important;
				.border-radius(10px);
				.box-sizing(border-box);
				position: relative;
				&:before{
					background-color: @color_four;
					content: '';
					height: 6px;
					left: 13px;
					position: absolute;
					top: 13px;
					width: 6px;
					.border-radius(10px);
					.box-sizing(border-box);
				}
			}
			li{
				height: 8px;
				width: 8px;
			}
			.active{
				a{
					&:before{
						background-color: transparent;
						border: 1px solid @color_four;
						height: 8px;
						left: 11.5px;
						top: 11.5px;
						width: 8px;
					}
				}
			}
		}
	}
	.slidermanDescriptionBG{
		left: 0;
	}
	.slidermanImgCont{
		.opacity(80);
		min-height: 500px;
		div {
			height: 100% !important;
		}
		img{
			filter: none !important;
		}
	}
	#sliderContainer{
		height: 100% !important;
	}
}

#sliderContainer div.slidermanDescriptionCont div.slidermanDescriptionText div.slideTitle p {
	font-size: 24px;
	line-height: 24px;
}

div.slideTitle{
	font-family: @sansFontFamily;
}

.pagination {
	a.sliderPrev, a.sliderNext {
		top: auto;
	}
}

// Easy Social Icons

.jssocialicons-horizontal{
	.clearfix();
	margin-left: 0;
}

// J3 override

.items-more{
	.nav li a,
	h3{
		padding-left: 20px;
		padding-right: 20px;
	}
}

// banner
.banneritem{
	img{
		width: 100%;
	}
}

// -------------------------------------
// slider 3

.wrappToolbar ~ .js-slider {
	margin-top: -40px;
}

#slider-position .jss-slider.jss-slider-template-design {
	.owl-carousel {
		.jss-image-container.jss-descpos-bottom .jss-image .jss-title-description.jss-alignment-left,
		.jss-image-container.jss-descpos-top .jss-image .jss-title-description.jss-alignment-left {
			.center-block();
			right: 0;
		}

		.jss-image-container.jss-descpos-bottom .jss-image .jss-title-description.jss-alignment-right,
		.jss-image-container.jss-descpos-top .jss-image .jss-title-description.jss-alignment-right {
			.center-block();
			right: 0;
		}

		.jss-image-container.jss-descpos-top .jss-image .jss-title-description {
			top: 150px;
		}

		.jss-image .jss-title {
			height: auto;
		}

		.owl-item {
			img {
				max-width: 4000000px;
			    min-height: 100%;
			    min-width: 100%;
			    width: auto;
			}

			.jss-image {
				max-height: 4000000px;
			}
		}

		.jss-title-description {
			.center-block();
			z-index: 26;

			&.jss-alignment-left {
				.jss-title,
				.jss-description {
					float: left;
					padding-left: 171px;
					width: 100%;
				}
			}

			&.jss-alignment-right {
				.jss-title,
				.jss-description {
					float: right;
					padding-right: 171px;
					width: 100%;
				}
			}

			&.jss-alignment-center {
				.jss-title,
				.jss-description {
					.center-block();
				}
			}

			.jss-title {
				.box-sizing(box-sizing);
				max-width: 70%;
				padding-top: 80px;

				h3{
					font-size: 33px;
				}
			}

			.jss-description {
				.box-sizing(box-sizing);
				display: block;
				font-size: @baseFontSize + 10;
				line-height: @baseFontSize + 10;
				max-width: 70%;
				padding-left: 171px;

				.btn {
					border-color: @white;
					color: @white;

					&:hover, &:focus {
						border-color: @color_one;
					}
				}
			}

			p {
				margin-bottom: 10px;
			}

		}
	}

	.jss-navigation .jss-navigation-dots .owl-dot {
		> div {
			.box-shadow(none);
			background-color: transparent;
			height: auto;

			&:before {
				position: absolute;
				border-radius: 10px;
				box-sizing: border-box;
				content: '';
				background-color: @color_four;
				border: 1px solid #000;
				height: 8px;
				left: 11.5px;
				top: 11.5px;
				width: 8px;
			}
		}
		&.active {
			> div {
				&:before {
					background-color: transparent;
				}
				&:after {
					background-color: transparent;
				}
			}
		}
	}
}

#container-unlimited > .core(@gridColumnWidth, @gridGutterWidth);




