
.flexbox-content(){
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   
}
@media (min-width: 1200px) {
	#toolbar{
		.navbar {
			.nav{
				>li{
					margin-left: 45px;
					margin-right: 45px;
				}
			}
		}
	}	
}
@media (max-width: 979px) {

	.navbar{
		.btn-navbar{
			.box-shadow(none);
			border: 0;
		}
	}
	.logo-menu{
		.navbar{
			.navbar-inner{
				.btn-navbar{
					margin-bottom: 12px;
					margin-top: 12px;
				}
			}
			.nav{
				.box-sizing(border-box);
				background-color: @dropdownBackground;
				float: none;
				padding: 0 10px 10px;
				width: 100%;
				>li{
					>a{
						padding-left: 0;
						padding-right: 0;
					}
					> .dropdown-menu{
						margin: 0;
					}
				}
			}
		}
	}
	.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
		.border-radius(0);
	}

	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner {
		li{
			&.dropdown {
				.dropdown-menu{
					li{
						.sub-menu{
							border: 0;
							li{
								&.last-child{
									>a{
										border-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.navbar-inverse .nav-collapse .nav>li>a,
	.navbar-inverse .nav-collapse .dropdown-menu a{
		padding-left: 10px;
		padding-right: 10px;
	}
	#toolbar {
		.navbar .nav>li{
			margin-left: 0;
			margin-right: 0;
			a{
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.navbar-fixed-top{
			position: fixed;
			.navbar-inner{
				padding: 0;
			}
			.btn-navbar{
				margin-top: 7px;
			}
		}
	}

	.wrappToolbar.collapsedToolbar {
		.navbar-inner {
			.collapsedToolbarInner {
			    height: auto !important;
			    min-height: @navbarHeight;
			    overflow: visible;
			}
		}
	}

}
@media (max-width: 767px) {

	#toolbar{ 
		.nav-collapse, #menu .nav-collapse{
			.box-sizing(border-box);
			.flexbox-content();
			justify-content: center;
			padding-left: 20px;
			padding-right: 20px;
			width: 100%;
		}
		.navbar-fixed-top{
			margin-left: 0;
			margin-right: 0;
		} 
	}

	.blog,
	.blog-featured,
	.container-flexbox{
		> .row , > .row-fluid{
			> [class*="span"]{
				border-bottom: 1px solid @color_three;
				border-left: 0;
				float: none;
				margin-bottom: 0;
				width: 100%;

				&:last-child{
					border-bottom: 0;
				}
			}
		}
	}
	
	.blog,
	.blog-featured{
		.items-row, 
		.items-leading{
			display: block;
		}
	} 

	.container-flexbox{
		> .row , > .row-fluid{
			display: block;
		}
	}
    #header{
        margin-left: -20px;
        margin-right: -20px;

		.logo-menu{
			#logo, #menu{
				float: left;
			}
			#logo{
				margin-bottom: 10px;
				margin-top: 10px;
				width: 60%;
				a{
					display: block;
				}
			}
			#menu{
				width: 40%;
				#nav-menu{
					left: 5%;
					position: absolute;
					top: 53px;
					width: 90%;
				}
			}

			.navbar{
				.navbar-inner{
					.btn-navbar {
						margin-bottom: 10px;
						margin-top: 10px;
						padding-left: 0;
						padding-right: 0;
					} 
				} 
			}
			.logo-menu-inner{
				margin-left: 10px !important;
				margin-right: 10px;
				position: relative;
				width: auto;
			}
		}

        &.logo-menu-absolute {
        	.logo-menu {
				.logo-menu-inner{
					left: 10%;
					width: 80%;
				}
	        }

        }
    }

}