# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
sftp-config.json

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist

# Build system
autobuild.properties
386574b8-3461-4068-8f72-ef74135bad70.dmp
45dc3655-f256-45ca-b7ff-1b7ea3b744fd.dmp
53e20fd8-cb87-4eee-8c66-748daf6cace5.dmp
d090d903-cc27-4060-96a8-868231d4bfc8.dmp
